<div
  class="notifiers-list {{ setting.align }} {{ setting.theme }}"
  [hidden]="!notifiers || !notifiers.length"
  #notifiersList
>
  <div
    *ngIf="
      setting.showCloseAllCount && notifiers.length >= setting.showCloseAllCount
    "
    class="notifier hide-all"
  >
    <a
      class="close-all"
      [class.white]="notifier.type !== NotifierType.Warning"
      (click)="removeAll()"
      >{{ 'NOTIFICATIONS.CLEAR' | libTranslate }}</a
    >
  </div>
  <div
    *ngFor="let notifier of notifiers; let last = last"
    class="notifier"
    [ngClass]="{
      icon: notifier.showIcon,
      'notifier-error': notifier.type === NotifierType.Error,
      'notifier-process': notifier.type === NotifierType.Process,
      'notifier-success': notifier.type === NotifierType.Success,
      'notifier-warning': notifier.type === NotifierType.Warning,
      'last-one': last
    }"
  >
    <div class="flex-container-md justify-between-md">
      {{ notifier.message }}
      <a
        class="cancel"
        *ngIf="notifier.onCancel"
        [class.white]="notifier.type !== NotifierType.Warning"
        (click)="cancelNotifier(notifier)"
        >{{ 'NOTIFICATIONS.CANCEL' | libTranslate }}</a
      >
      <a
        class="cancel"
        [class.white]="notifier.type !== NotifierType.Warning"
        *ngIf="notifier.onAction"
        (click)="actionNotifier(notifier)"
        >{{ notifier.actionName || ('NOTIFICATIONS.REPEAT' | libTranslate) }}</a
      >
    </div>
    <a
      class="close"
      (click)="closeNotifier(notifier)"
      title="{{ 'NOTIFICATIONS.CLOSE' | libTranslate }}"
    ></a>
  </div>
</div>
