.button-wrapper {
  margin: 0 0 20px 0;
}

.input-label {
  color: #0b1f33;
}

@media all and (min-width: 768px) {
  .button-wrapper {
    display: inline-block;
    margin: 0 24px 0 0;
  }

  .control-wrapper {
    max-width: 336px;
  }
}
