@epgu:registry=http://nexus.gosuslugi.local/content/repositories/npm-internal/
//nexus.gosuslugi.local/content/repositories/npm-internal/:email=npm@rtlabs.ru
//nexus.gosuslugi.local/content/repositories/npm-internal/:always-auth=true
//nexus.gosuslugi.local/content/repositories/npm-internal/:_auth=bnBtOm5wbQ==
