@import "../../../assets/styles/palette";

.page-controls {
  display: flex;
  align-items: center;

  .nav-button {
    margin: 0 8px;

    .separator, .page-ref {
      display: block;
      height: 32px;
      line-height: 32px;
      min-width: 32px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      color: $color-gosblue;
      font-size: 14px;
    }

    .separator {
      cursor: default;
    }

    &.current-page {
      background: $color-active-item;
      border-radius: 8px;
      cursor: default;
      .page-ref {
        color: white;
      }
    }

    &.disabled {
      .separator, .page-ref {
        //opacity: 0.5;
      }
    }
  }

  .first-page, .last-page, .next-page, .prev-page {
    .page-ref {
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .next-page .page-ref {
    background-image: url(../../../assets/svg/paging-arrow.svg);
  }

  .prev-page .page-ref {
    background-image: url(../../../assets/svg/paging-arrow.svg);
    transform: rotate(180deg);
  }

  .prev-page,
  .next-page {
    &.disabled .page-ref {
      background-image: url(../../../assets/svg/paging-arrow-disabled.svg);
      cursor: default;
    }
  }

}

