.virtual-scroll-container {
  height: 100%;
  max-height: 100%;
  ::ng-deep .ps {
    will-change: scroll-position;
    .ps-content {
      position: relative;
    }
    &.ps--active-y {
      .ps__rail-y {
        opacity: 1;
        background-color: white;
        width: 8px;
        .ps__thumb-y {
          width: 7px;
          right: 0;
          background-color: #E9ECEE;
        }
      }
    }
  }

  .virtual-scroll-content-wrapper {
    contain: content;
    min-width: 100%;
  }
  .virtual-scroll-spacer {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    transform-origin: 0 0;
  }
}