.nav {
  position: relative;
  background: rgba(29, 93, 235, 0.06);
  user-select: none;
  border-radius: 8px;
}

.overview {
  position: relative;
  width: 100%;
  padding: 14px 38px 14px 16px;
  cursor: pointer;

  .overview-text {
    position: relative;
    display: inline-block;
    padding-right: 38px;

    .counter {
      position: absolute;
      right: -2px;
    }
  }

  .toggle-button {
    position: absolute;
    top: 23px;
    right: 22px;
    width: 7px;
    height: 12px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 7px;
      background: url(../../../assets/svg/arrows/arrow_gosblue.svg) no-repeat;
      background-size: 100%;
    }

    .counter-circle {
      top: 1px;
      right: -1px;
      width: 8px;
      height: 8px;
    }
  }
}

.break-before {
  .tab:before {
    content: '';
    padding-bottom: 24px;
    border-top: 1px solid #b6c6e8;
    width: 176px;
    display: block;
  }
}

.break-after {
  .tab:after {
    content: '';
    padding-top: 24px;
    border-bottom: 1px solid #b6c6e8;
    width: 176px;
    display: block;
  }
}

.tabs-box {
  display: none;
}

.opened {
  .toggle-button:before {
    transform: rotate(180deg);
  }

  .tabs-box {
    position: absolute;
    width: 100%;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px #E3EBFC, 0px 6px 16px rgba(230, 235, 245, 0.8);
    border-radius: 0px 0px 8px 8px;
    z-index: 1;
    padding: 0 16px 16px 16px;
  }
}

.tab-wrapper {
  padding-top: 16px;

  .tab {
    color: #0d4cd3;
    text-decoration: none;
  }

  &.active .tab {
    cursor: default;
    color: #0b1f33;
  }

  &.disabled .tab {
    cursor: default;
    color: gray;
  }

  &.hidden {
    display: none;
  }
}

.tab {
  display: block;

  .counter {
    display: inline-block;
  }
}

.hide-for-mobile {
  display: none;
}

@media all and (min-width: 1140px) {
  .nav {
    background: none;
  }

  .overview {
    display: none;
  }

  .tabs-box {
    display: block;
    border: none;
  }

  .tab-wrapper {
    margin-bottom: 24px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tab {
    display: initial;
  }

  .opened {
    .tabs-box {
      margin-top: 0;
      border: none;
    }
  }

  .hide-for-mobile {
    display: block;
  }
}
