<div class="popup-wrapper location">
  <div class="popup">
    <a class="close" (click)="onClose()"></a>
    <h2 class="title title-h2 mb-8 mb-md-12">{{'LOCATION.TITLE' | libTranslate}}</h2>
    <div class="text-plain">
      {{'LOCATION.DESCRIPTION' | libTranslate}}
    </div>
    <div class="mt-24 mt-md-32" (change)="onRadioChange()">
      <div class="current-location">
        <div class="mb-8 bold">{{'LOCATION.CURRENT' | libTranslate}}</div>
        <div class="text-plain black">{{ defaultLocation }}</div>
      </div>
      <div class="mt-24">
        <div class="mb-12 mb-md-16 bold">{{'LOCATION.CHANGE' | libTranslate}}</div>
        <div class="grid-row">
          <div *ngIf="showAutoDetect" class="col-3 col-md-3 col-lg-6">
            <lib-radio
              value="auto"
              [(ngModel)]="radioValue"
              [labelText]="receivedLocation? receivedLocation: 'LOCATION.AUTO-SELECT' | libTranslate"
              [errorMessage]="(errorMessage ? errorMessage : '') | libTranslate"
            ></lib-radio>
          </div>
          <div class="col-3 col-md-3 push-md-3 push-lg-6 col-lg-6">
            <lib-radio [labelText]="'LOCATION.MANUAL-SELECT' | libTranslate" [(ngModel)]="radioValue" value="manual"></lib-radio>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="radioValue === 'manual'" class="mt-24">
      <lib-lookup [itemsProvider]="searchProvider" [queryMinSymbolsCount]="3" [(ngModel)]="searchItem"></lib-lookup>
    </div>
    <div class="submit mt-32 mt-md-40">
      <lib-button
        size="lg"
        (click)="onSave()"
        [disabled]="radioValue !== 'manual' && !regionCode || radioValue === 'manual' && !searchItem"
      >{{'LOCATION.SUBMIT' | libTranslate}}</lib-button>
    </div>
  </div>
</div>
