@import './palette';

.color-white {
  color: $color-white;
}
.color-gosblue {
  color: $color-gosblue;
}
.color-gosred {
  color: $color-gosred;
}
.color-summer-night {
  color: $color-summer-night
}
.color-error-highlight {
  color: $color-error-highlight
}
.color-background {
  color: $color-background;
}
.color-bg-disabled {
  color: $color-bg-disabled;
}
.color-text-helper {
  color: $color-text-helper;
}
.color-active-item {
  color: $color-active-item;
}
.color-giallo-brillante {
  color: $color-giallo-brillante;
}
.color-giallo-selezionato {
  color: $color-giallo-selezionato;
}
.color-foglia-di-acero {
  color: $color-foglia-di-acero;
}
.color-pervinca {
  color: $color-pervinca;
}
.color-azzurro-alice {
  color: $color-azzurro-alice;
}
.color-osso-grigio {
  color: $color-osso-grigio;
}
.color-telegrey-scuro {
  color: $color-telegrey-scuro;
}
.color-mandorle-pelate {
  color: $color-mandorle-pelate;
}
.color-giovani-steli {
  color: $color-giovani-steli;
}
.color-petalo-rosa {
  color: $color-petalo-rosa;
}
.color-blu-digitale {
  color: $color-blu-digitale;
}
.color-pulsante-premuto {
  color: $color-pulsante-premuto;
}
.color-blu-selvaggio {
  color: $color-blu-selvaggio;
}
.color-green-sea {
  color: $color-green-sea;
}
.color-nephritis {
  color: $color-nephritis;
}
.color-pino-verde {
  color: $color-pino-verde;
}
.color-tela-rossa {
  color: $color-tela-rossa;
}
.color-blu-traffico {
  color: $color-blu-traffico;
}
.color-granito-fresco {
  color: $color-granito-fresco;
}
.color-ciottoli {
  color: $color-ciottoli;
}


