$color-white: #FFFFFF;
$color-gosblue: #0D4CD3;
$color-gosred: #EE3F58;
$color-summer-night: #0B1F33;
$color-input: #F5F7FA;
$color-divider: #99B1E6;
$color-error-highlight: rgba(238, 63, 88, 0.16);
$color-shadow: rgba(230, 235, 245, 0.4);
$color-shadow-second: rgba(230, 235, 245, 0.8);
$color-background: #FAFCFF;
$color-bg-disabled: #D1D5DF;
$color-text-helper: #66727F;
$color-active-item: #1D5DEB;
$color-giallo-brillante: #FED13E;
$color-giallo-selezionato: #F8B200;
$color-foglia-di-acero: #FF8A00;
$color-pervinca: #E5EAF5;
$color-tagline-hit: rgba(29, 93, 235, 0.18);
$color-tagline: #E4ECFD;
$color-azzurro-alice: #EDF2FE;
$color-osso-grigio: #ECF0F8;
$color-telegrey-scuro: #86909C;
$color-mandorle-pelate: #FEF0CC;
$color-giovani-steli: #DDF5E7;
$color-petalo-rosa: #FCD9DE;
$color-blu-digitale: #4D83FA;
$color-pulsante-premuto: #0B40B3;
$color-blu-selvaggio: #9DACCE;
$color-green-sea: #16A086;
$color-nephritis: #2DC36A;
$color-pino-verde: #12826E;
$color-tela-rossa: #E11432;
$color-blu-traffico: #053B75;
$color-granito-fresco: #EFF5F9;
$color-ciottoli: #E1E1E1;
