$radio-color: #B6C6E8;
$radio-active-color: #0B40B3;

:host {
  outline: none;
}

.radio {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 40px;
  vertical-align: top;
  line-height: 30px;
  font-size: 16px;
  width: fit-content;
}

.radio-input {
  opacity: 0;
  position: absolute;

  &:checked + .mark-wrap {
    .radio-button {
      background-color: $radio-active-color;
      border: 3px solid #fff;
    }
  }
  &:checked:disabled + .mark-wrap,
  &:checked:disabled:hover + .mark-wrap {
    border-color: #86909C;
    .radio-button {
      background-color: #86909C;
      border: 3px solid #E5EAF5;
    }
  }

  &:disabled + .mark-wrap,
  &:disabled:hover + .mark-wrap {
    border-color: #86909C;
    .radio-button {
      background-color: #E5EAF5;
      border: none;
    }
  }

  &:hover + .mark-wrap {
    border-color: #1D5DEB;
    .radio-button {
      background-color: #E5EAF5;
      border: none;
    }
  }
  &:checked:hover + .mark-wrap {
    .radio-button {
      background-color: #1D5DEB;
      border: 3px solid #fff;
    }
  }
}

.mark-wrap {
  position: absolute;
  margin-left: -36px;
  //top: -4px;
  border-radius: 100%;
  border: 2px solid $radio-active-color;
  background: #fff;
}

.radio-button {
  box-sizing: border-box;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.label-wrap {
  display: inline-block;
  line-height: 19px;
}

.labelText {
  display: inline-block;
  //padding: 0 0 5px;
  line-height: 1.5;
}

.radio-description {
  width: 310px;
  font-size: 12px;
  line-height: 16px;
  pointer-events: none;

  .description {
    color: #515A63;
  }

  .error-message {
    color: #d0021b;
  }
}
