.quiz-content {
  
  .answers {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    .answer {
      margin-right: 8px;
      margin-bottom: 16px;
      padding: 10px 16px;
      line-height: 20px;
      border-radius: 20px;
      background-color: #FFF;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: #859FD9;
        color: white;
      }
      &.selected {
        background-color: #0B40B3;
        color: white;
      }
      &.hidden {
        display: none;
      }
      &.rate-answer {
        border: none;
        box-shadow: none;
        background: url(../../../assets/svg/rate-unselected.svg) no-repeat;
        width: 44px;
        height: 44px;
        &.selected {
          background: url(../../../assets/svg/rate-selected.svg) no-repeat;
        }
        &.highlighted {
          background: url(../../../assets/svg/rate-selected.svg) no-repeat;
        }
      }
    }
    &.new-lines {
      flex-flow: column;
    }
  }
  
  .button-wrapper {
    margin-bottom: 24px;
  }
}

.popup-wrapper {
  &.fictive {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .quiz-content { 
    &.popup {
      width: 100%;
    }
    .button-wrapper {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 24px;
    }
    .button-wrapper-submit {
      order: 1;
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1140px) {
  .quiz-content.popup {
    width: 85%;
  }
}
