<div class="multiline-edit"
    [class.invalid]="invalidDisplayed"
    [class.focused]="focused"
    [class.disabled]="disabled"
    [class.full-height-scroll]="fullHeightScroll"
    [class.with-symbols-counter]="maxlength && !hideCounter"
    [ngClass]="contextClass ? [contextClass] : []" libStopScreenScroll
    [ngStyle]="{width: $any(width)?.base || width, 'min-width': $any(width)?.min, 'max-width': $any(width)?.max}"
    (click)="checkSelection()">
  <div class="multiline-wrapper">
    <perfect-scrollbar [config]="{suppressScrollX: true, wheelPropagation: false}" [ngStyle]="{'max-height.px': maxHeight}">
      <div class="multiline-input" #input
          [attr.tabindex]="tabIndex ? tabIndex : '0'"
          [attr.id]="id ? id : null"
          [attr.contenteditable]="!disabled && !readOnly ? 'true' : 'false'"
          [attr.placeholderText]="placeholder"
          (input)="handleInput($event)"
          (keypress)="handleKeyPress($event)"
          (paste)="handlePaste($event)"
          (focus)="notifyFocusEvent($event)"
          (blur)="notifyFocusEvent($event)"
          [ngStyle]="{'min-height.px': minHeight}"
          [class.with-clear-button]="clearable && !disabled && textValue && focused"
          [innerHTML]="htmlValue">
      </div>
    </perfect-scrollbar>
    <div *ngIf="clearable && !disabled && textValue && focused" (click)="clearValue($event)" class="clear-button"></div>
    <div class="symbols-counter" *ngIf="maxlength && !hideCounter">
      <span class="symbols-count">
        <span class="count" [ngClass]="{overloaded: symbolsCount === maxlength}">{{symbolsCount}}</span>&nbsp;/&nbsp;<span class="length">{{maxlength}}</span>
      </span>
    </div>
  </div>
</div>
