.informers-container {
  width: 100%;
}

.informer-main {
  cursor: pointer;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.informer-content {
  padding: 24px;
  width: 100%;
}

.price-discount{
  font-size: 32px;
  line-height: 40px;
  color: #E11432;
}

.informer-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  &.no_debt {
    background: rgba(45, 195, 106, 0.1);
  }
  &.error, &.al10 {
    background: rgba(248, 178, 0, .12);
  }
}

.informer-top-wrap-debt {
  height: 68px;
  &.stateDuty{
    background: #E4ECFD url("../../../assets/svg/informer/duty.svg") 50% 50% no-repeat;
  }
  &.fine{
    background: #E4ECFD url("../../../assets/svg/informer/fine.svg") 50% 50% no-repeat;
  }
  &.account{
    background: #E4ECFD url("../../../assets/svg/informer/bill.svg") 50% 50% no-repeat;
  }
  &.all{
    background: #E4ECFD url("../../../assets/svg/informer/debts.svg") 50% 50% no-repeat;
  }
  &.fssp{
    background: #E4ECFD url("../../../assets/svg/informer/jud.svg") 50% 50% no-repeat;
  }
  &.fns{
    background: #E4ECFD url("../../../assets/svg/informer/tax.svg") 50% 50% no-repeat;
  }
}

.informer-bottom-wrap {
  padding: 16px 0;
  text-align: center;
}

.block-informer-hint {
  background: rgba(248, 178, 0, .12);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.informer-hint-icon {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url("../../../assets/svg/informer/warning.svg") 0 0 no-repeat;
  background-size: contain;
}

.informer-hint-text {
  color: #0B1F33;
  font-size: 12px;
  line-height: 16px;
}

.loading {
  min-height: 120px;
  justify-content: center;

  .loader {
    margin: auto;
  }
}

.debt{
  width: 100%;
}

.without-debt {
  width: 100%;

  .icon-no-debt {
    width: 54px;
    height: 40px;
  }

  .search, .warn {
    background: url("../../../assets/svg/informer/error.svg") 0 0 no-repeat;
    background-size: contain;
    width: 34px;
    height: 40px;
  }

  .ok {
    background: url("../../../assets/svg/informer/success.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.main-page-view {
  .informer-content {
    padding: 16px 24px;
  }

  .informer-top-wrap {
    &.no_debt, &.error, &.al10 {
      background: #FFFFFF;
    }
  }
}

.addition-informer__block {
  padding: 16px 24px;
}

.addition-informer-loader {
  min-height: 64px;
}

@media (max-width: 767px) {
  .main-page-view {
    .informer-top-wrap {
      justify-content: flex-start;
    }

    .without-debt {
      .informer-top-wrap {
        padding: 16px 24px;
        min-height: 64px;
      }

      .icon-no-debt {
        width: 32px;
        height: 24px;
        margin-right: 16px;
      }

      .search, .warn {
        width: 22px;
        height: 24px;
      }

      .title-no-debt {
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .informers-container {
    display: flex;
    align-items: stretch;
  }

  .full-height {
    height: 100%;
  }

  .informer-main{
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-page-view {
    height: 100%;

    .button-container {
      display: none;
    }
  }

  .informer-content {
    padding: 24px;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .informer-top-wrap-debt {
    width: 88px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &.with-hint {
      width: 140px;
    }
  }

  .block-informer-hint {
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .informer-top-wrap {
    justify-content: flex-start;
    padding: 24px 32px;
  }

  .informer-bottom-wrap {
    padding: 24px 32px;
  }

  .debt {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;

    .debt-title, .debt-text {
      text-align: left;
    }
  }

  .without-debt {
    .icon-no-debt {
      width: 34px;
      height: 24px;

      &.search, &.warn{
        width: 19px;
        height: 24px;
      }
    }
  }

  .main-page-view {
    .informer-content {
      padding: 24px;
    }

    .without-debt {
      .icon-no-debt {
        width: 74px;
        height: 56px;
      }

      .search, .warn {
        width: 46px;
        height: 56px;
      }
    }

    .price-discount{
      font-size: 24px;
      line-height: 32px;
    }
  }

  .addition-informer {
    height: 100%;
    width: 30%;
  }

  .addition-informer__block {
    flex-flow: column;
    text-align: center;
    justify-content: center;
  }

  .addition-informer-loader, .addition-informer__block {
    height: 100%;
    min-height: 136px;
  }

}

@media all and (min-width: 1140px) {
  .main-page-view {
    .informer-content {
      justify-content: center;
    }
  }

  .informers-container {
    display: flex;
    flex-flow: column;
  }

  .full-height {
    height: 100%;
  }

  .informer-main:not(.main-page-view) {
    height: 280px;

    .informer-content {
      height: calc(100% - 68px);
    }
  }

  .informer-main.main-page-view {
    height: 100%;
  }

  .informer-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .informer-top-wrap {
    flex-flow: column;
    text-align: center;
    flex: 1 0 auto;
  }

  .informer-top-wrap-debt {
    &.with-hint {
      width: auto;
    }
  }

  .block-informer-hint {
    padding: 0 24px;
  }

  .informer-bottom-wrap {
    padding: 0;
    height: 96px;
    display: flex;
    align-items: center;
  }

  .without-debt {
    height: 100%;

    .icon-no-debt {
      width: 74px;
      height: 56px;

      &.search, &.warn {
        width: 46px;
        height: 56px;
      }
    }
  }

  .addition-informer__block {
    padding: 16px;
  }
}
