/* autoprefixer grid: autoplace */
.footer-cms {
    h4 {
      font-weight: 700;
    }
  
    .footer__links {
      color: #565656;
      font: 14px/20px Lato, Arial, "sans-serif";
      margin-bottom: 20px;
      display: block;
  
      &--offset-none{
        margin-bottom: 0;
      }
    }
  }
  
  .footer-desk-version {
    display: none;
  }
  
  .footer-tablet-version {
    display: none;
  }
  
  @media all and (min-width: 768px) {
    .footer-cms {
      padding: 48px 0 32px 0;
  
      .footer__links {
        margin-bottom: 16px;
      }
  
      .footer-mobile-version {
        display: none;
      }
  
      .footer-tablet-version {
        display: grid;
      }
    }
  }
  
  @media all and (min-width: 1140px) {
    .footer-cms {
      padding: 52px 0 48px 0;
  
      .footer__links {
        font-size: 16px;
        line-height: 24px;
      }
  
      .footer-tablet-version {
        display: none;
      }
  
      .footer-desk-version {
        display: grid;
      }
    }
  }
  