<a *ngIf="view === 'link' || view === 'custom'" class="back-button link-plain" (click)="goBack($event)">
  <ng-container *ngIf="!title">{{ 'BACK' | libTranslate }}</ng-container>
  <ng-container *ngIf="title">{{ title | appTranslate }}</ng-container>
</a>
<lib-button *ngIf="view === 'button' || view === 'custom-button'" size="md" color="white" (click)="goBack($event)">
  <span *ngIf="!title" class="back-button">{{ 'BACK' | libTranslate }}</span>
  <span *ngIf="title" class="back-button">{{ title | appTranslate }}</span>
</lib-button>
