.back-button {
  padding-left: 14px;
  background: url(../../../assets/svg/arrows/arrow-back-button.svg) 0 6px no-repeat;
  display: inline-block;
}

span.back-button {
  background-size: 8px 12px;
}
