<div class="popup-wrapper">
  <div class="popup">
    <a class="close" (click)="onCancel()"></a>
    <ng-container *ngIf="type === 'not_found'">
      <h4 class="title title-h2 mb-32">{{'DS_WIDGET.MODAL_ERROR.NOT_FOUND.TITLE' | libTranslate}}</h4>
      <div class="text-plain black mb-16">{{'DS_WIDGET.MODAL_ERROR.NOT_FOUND.LIST_TITLE' | libTranslate}}</div>
      <ol class="text-plain black">
        <li [innerHTML]="'DS_WIDGET.MODAL_ERROR.NOT_FOUND.STEP_1' | libTranslate:{link:loadService.config.dsWidget.pluginUpload}"></li>
        <li [innerHTML]="'DS_WIDGET.MODAL_ERROR.NOT_FOUND.STEP_2' | libTranslate:{link:loadService.config.dsWidget.ministry}"></li>
        <li [innerHTML]="'DS_WIDGET.MODAL_ERROR.NOT_FOUND.STEP_3' | libTranslate:{host:loadService.config.dsWidget.currentHost}"></li>
        <li [innerHTML]="'DS_WIDGET.MODAL_ERROR.NOT_FOUND.STEP_4' | libTranslate:{link:loadService.config.dsWidget.manual}"></li>
      </ol>
    </ng-container>
    <ng-container *ngIf="type === 'old_version'">
      <h4 class="title title-h2 mb-32">{{'DS_WIDGET.MODAL_ERROR.OLD_VERSION.TITLE' | libTranslate}}</h4>
      <div class="text-plain black mb-16">
        {{'DS_WIDGET.MODAL_ERROR.OLD_VERSION.STEP_1' | libTranslate}}
      </div>
      <div class="text-plain black mb-16">
        {{'DS_WIDGET.MODAL_ERROR.OLD_VERSION.STEP_2' | libTranslate}}
      </div>
      <div
        class="text-plain black mb-16"
        [innerHTML]="'DS_WIDGET.MODAL_ERROR.OLD_VERSION.STEP_3' | libTranslate:{link:loadService.config.dsWidget.pluginUpload}">
      </div>
      <div class="text-plain black mb-16">
        {{'DS_WIDGET.MODAL_ERROR.OLD_VERSION.STEP_4' | libTranslate}}
      </div>
      <div class="button-wrapper">
        <lib-button color="blue" size="md" (click)="onCancel()"></lib-button>
      </div>
    </ng-container>
  </div>
</div>
