<div class="footer-wrapper" id="footer-wrapper" *ngIf="footerService.visible | async">
  <div class="container" *ngIf="footer">
     <div class="hide-md">
       <lib-accordion [closeOthers]="true">
         <div *ngFor="let block of footer.blocks;"
              [ngClass]="{
              'hide-sm': block.hideMobile,
              'hide-md': block.hideTablet,
              'show-md': !block.hideTablet,
              'hide-lg': block.hideDesktop,
              'show-lg': !block.hideDesktop
              }">
           <lib-expansion-panel [title]="block.title" type="for-footer">
             <ng-container *ngIf="block.links?.length">
               <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{block: block}"></ng-container>
             </ng-container>
           </lib-expansion-panel>
         </div>
       </lib-accordion>
       <div *ngIf="footer.socialLinks" class="mt-20">
         <div class="title-h6 mb-32">
          {{'FOOTER.IN_SOCIAL_NETWORKS' | libTranslate}}
         </div>
         <lib-social-links></lib-social-links>
       </div>
     </div>
    <div class="pad-desk-wrapper hide show-md">
      <div class="grid-row">
         <div *ngFor="let block of footer.blocks; let last = last"
              class="col-md-3 col-lg-3 mt-md-32 block-wrapper flex-column-md justify-between-md"
              [ngClass]="{
              'hide-sm': block.hideMobile,
              'hide-md': block.hideTablet,
              'show-md': !block.hideTablet,
              'hide-lg': block.hideDesktop,
              'show-lg': !block.hideDesktop
              }">
           <div>
             <div class="custom-sizes title-h5 mb-32">{{ block.title }}</div>
             <ng-container *ngIf="block.links?.length"
                           [ngTemplateOutlet]="links"
                           [ngTemplateOutletContext]="{block: block}">
             </ng-container>
           </div>
        </div>
        <div *ngIf="footer.socialLinks" class="col-md-3 col-lg-3 mt-md-32 social-wrapper">
          <div class="mb-32 title-h5">{{'FOOTER.IN_SOCIAL_NETWORKS' | libTranslate}}</div>
          <lib-social-links [footerSocial]="true" (footerClickEmitter)="sendMetric($event)"></lib-social-links>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #links let-block="block">
  <div *ngFor="let link of block.links; let first = first" class="mt-12" [ngClass]="first ? 'mt-md-32': 'mt-md-16'">
    <a class="link-hover custom-sizes text-plain gray"
       (click)="openLink($event, link)"
       [href]="link.url"
       [attr.target]="link.target ? link.target : null"
       [attr.rel]="link.target === '_blank' ? 'noopener noreferrer' : null">
      {{link.title}}
    </a>
  </div>
</ng-template>
