.popup {
  padding: 24px 24px 0 0;

  ::ng-deep {
    .ps-content {
      max-height: calc(100vh - 180px);
    }

    perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
      opacity: 1;
    }

    .ps .ps__rail-y {
      transition: none;
      width: 18px;
      background-color: #FFFFFF;
    }

    .ps .ps__rail-y:hover,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-y.ps--clicking {
      background-color: #FFFFFF;
      opacity: 1;
      width: 18px;
    }

    .ps__thumb-y,
    .ps__rail-y:hover > .ps__thumb-y,
    .ps__rail-y:focus > .ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
      width: 8px;
      opacity: 1;
      background: #D1D5DF;
      right: 5px;
    }
  }
}

.popup-title {
  margin-left: 24px;
}

.item {
  position: relative;
  padding-left: 24px;
  cursor: pointer;

  &:hover {
    background: #e7ecf7;

    ::ng-deep {
      .common-name {
        color: #0D4CD3;
      }
    }
  }
}

.empty-items {
  padding: 24px 24px 0;
}

@media all and (min-width: 768px) {
  .popup {
    padding: 32px 32px 0 0;

    ::ng-deep .ps-content {
      max-height: 540px;
    }
  }

  .popup-title {
    margin-left: 32px;
  }

  .item {
    padding-left: 32px;
  }
  .empty-items {
    padding-right: 32px;
  }
}
