<div class="popup-wrapper">
  <div class="popup">
    <a class="close" (click)="onCancel()"></a>
    <h4 class="title title-h2 mb-32">{{'DS_WIDGET.MODAL_ITEMS.TITLE' | libTranslate}}</h4>
    <ng-container *ngIf="items.length > 0; else empty">
      <div class="item" *ngFor="let item of itemsOnPage">
        <lib-eds-item [item]="item" (click)="onSelect(item.index)"></lib-eds-item>
      </div>
      <div class="mt-40 mb-8">
        <lib-paging-controls
          [count]="items.length"
          [pageSize]="pageSize"
          [activePage]="activePage"
          [tailButtons]="false"
          [prevNextButtons]="false"
          (pageChanged)="pageChanged($event.page)"
        ></lib-paging-controls>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="mb-40">{{'DS_WIDGET.MODAL_ITEMS.EMPTY' | libTranslate}}</div>
    </ng-template>
  </div>
</div>
