<ng-template #content>
  <span #contentData><ng-content></ng-content></span>
</ng-template>
<div class="button-container {{theme}} {{width}}" [class.small-paddings]="smallPaddings" (click)="onClick($event)">
  <button *ngIf="type === 'button'"
    [type]="buttonType"
    [disabled]="disabled"
    class="{{size}} {{color}} {{width}} {{height}} {{type}} font-{{fontSize}}"
    [ngClass]="{disabled: disabled, active: active, loader: showLoader}"
    tabindex="{{disabled ? -1 : 0}}">
    <ng-container *ngIf="!showLoader">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-container>
    <lib-round-loader *ngIf="showLoader"></lib-round-loader>
  </button>
  <a *ngIf="type === 'anchor' && link !== ''"
    class="{{size}} {{color}} {{width}} {{height}} {{type}}"
    [ngClass]="{disabled: disabled, active: active}"
    tabindex="{{disabled ? -1 : 0}}"
    target="{{target}}"
    href="{{link}}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
  <a *ngIf="type === 'anchor' && link === ''"
    class="{{size}} {{color}} {{width}} {{height}} {{type}}"
    tabindex="{{disabled ? -1 : 0}}"
    [ngClass]="{disabled: disabled, active: active}"
    [routerLink]="internalLink">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
  <button *ngIf="type === 'search' || type === 'new-search'"
    class="{{size}} {{width}} {{type}}"
    type="submit"
    [ngClass]="{disabled: disabled, active: active}">
    <span class="icon"></span>
  </button>
  <button *ngIf="type === 'inline'" type="button" class="link-plain {{type}}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</div>
