.light {
  a, button {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #0D4CD3;
    background-color: #E4ECFD;
    padding: 6px 16px;
    border-radius: 8px;

    &.md {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 32px;
    }
  }
}

a, button {
  display: inline-block;
  font-family: Lato, Arial, sans-serif;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 12px 38px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #0D4CD3;
  cursor: pointer;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #1D5DEB;
  }

  &:active {
    color: #ffffff;
    background-color: #0B40B3;
  }

  &.active {
    color: #ffffff;
    background-color: #0B40B3;
  }

  &.disabled {
    color: #66727F;
    background-color: #E5EAF5;
    cursor: default;
  }

  &.transparent {
    background-color: transparent;
  }

  &.red{
    color: #EB5757;
    border: 2px solid #EB5757;
    background: #fff;
    &.disabled{
      opacity: .5;
    }
    &:hover,
    &:focus,
    &:active{
      color: #EB5757;
      border: 2px solid #EB5757;
      background: #fff;
    }
  }

  &.white {
    border: 2px solid #0D4CD3;
    color: #0D4CD3;
    background-color: #ffffff;

    &:hover,
    &:focus {
      border-color: #1D5DEB;
      color: #1D5DEB;
      background-color: #F5F7FA;
    }

    &:active {
      border-color: #0B40B3;
      color: #0B40B3;
      background-color: #F5F7FA;
    }
    &.active {
      border-color: #0B40B3;
      color: #0B40B3;
      background-color: #F5F7FA;
    }

    &.disabled {
      border-color: #E5EAF5;
      color: #66727F;
      background-color: #E5EAF5;
    }
  }

  &.new-search {
    padding: 11px;
    border: none;

    .icon {
      display: block;
      width: 18px;
      height: 18px;
      background: url(../../../assets/svg/search-big.svg) no-repeat center;
      background-size: 100%;
    }
  }

  &.search {
    height: 40px;
    border: none;
    padding: 8px 16px;

    .icon {
      display: block;
      width: 24px;
      height: 24px;
      background: url(../../../assets/svg/search-icon-white.svg) no-repeat center;
      background-size: 100%;
    }

    &.md, &.lg {
      height: 48px;
      padding: 12px 24px;
    }

    &.disabled {
      .icon {
        background-image: url(../../../assets/svg/search-icon-disabled.svg);
      }
    }
  }

  &.dynamic {
    padding: 15px;
    height: auto;
    white-space: unset;
    line-height: 18px;
  }

  &.loader {
    min-width: 100px;
  }
}

.small-paddings {
  a, button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

button::-moz-focus-inner {
  border: 0;
}

.button-container {
  display: block;
  &.wide {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .button-container {
    display: inline-block;
  }
  a, button {
    width: auto;

    &.wide {
      width: 100%;
    }
  }
}

@media all and (min-width: 1140px) {
  a, button {
    &.font-13{
      font-size: 13px;
    }
  }
  .light{
    button:hover{
      background-color: rgba(29, 93, 235, 0.18);
    }
  }
}
