.warn-container {
  display: flex;
  padding-bottom: 28px;
  border-bottom: 1px solid #CED9F0;
}

.warn-icon {
  margin-right: 24px;
}

.button-container {
  padding-top: 28px;
}

@media all and (min-width: 768px) {
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
