.logo {
  display: block;
  height: 24px;
  width: 126px;
  background: url(../../../assets/svg/main-logo.svg) 0 100% no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
}
