.call-doctor-item{
  display: block;
  padding: 24px;
  background: #F6F7F7;
  border-radius: 4px;
}
.title-equeue{
  text-align: center;
}
.call-doctor-date{
  color: #000;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}
.call-doctor-text, .call-doctor-item{
  font-size: 14px;
  line-height: 20px;
  color: #515A63;
}
.call-doctor-clock{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 20px;
  background: url('../../../assets/svg/calendar-gray.svg') 50% 20% no-repeat;
  margin-right: 10px;
}
@media all and (min-width: 768px) {
  .call-doctor-date{
    font-size: 16px;
    line-height: 24px;
  }
  .title-equeue{
    text-align: left;
  }
}
@media all and (min-width:1140px) {
  .call-doctor-date{
    font-size: 14px;
    line-height: 20px;
  }
  .title-equeue{
    text-align: center;
  }
}
