<div class="slides-container">
  <div *ngIf="arrowsEnabled && !hideArrows"
       class="control-wrapper control-wrapper__prev">
    <a (click)="prevSlide(true)"
       class="slider-arrow slider-arrow__prev"></a>
  </div>

  <div #slidesContainer class="slides-wrapper flex-0-lg" [ngStyle]="{'width.px': wrapperWidth}">
    <div #slideBlock class="slide-block" [ngStyle]="{'left.px': offset}">
      <div class="slide"
           *ngFor="let item of cycleList; let i = index; let isFirst = first; let isLast = last;"
           [ngClass]="[activeSlide === item ? 'active' : '']"
           [ngStyle]="{'width.px': slideWidth, 'marginLeft.px': isFirst ? 0 : betweenOffset}">
        <ng-container *ngTemplateOutlet="contentTemplate; context: { item: item, index: i }"></ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="arrowsEnabled && !hideArrows"
       class="control-wrapper control-wrapper__next">
    <a (click)="nextSlide(true)"
       class="slider-arrow slider-arrow_next"></a>
  </div>
</div>
<div *ngIf="showBullets && list?.length > 1"
     [ngClass]="[bulletSettings]">
  <div class="bullets-container flex-container">
    <div *ngFor="let item of list; let i = index;"
         [ngClass]="{active : item === activeSlide}"
         (click)="scrollToSlide(item, i)"
         class="bullet-wrapper">
      <div class="bullet"></div>
    </div>
  </div>
</div>
