<div class="popup-wrapper {{skin}}">
  <div class="popup">
    <a class="close" (click)="onCancel($event)"></a>
    <h3 *ngIf="popupTitle" class="title-h3 popup-title mt-20 mt-md-24 mb-md-24">{{popupTitle}}</h3>
    <div class="popup-images" *ngIf="images">
      <lib-image-slides
        [images]="images"
        [limit]="1"
        [slidesWidth]="imageWidth"
        [slidesHeight]="imageHeight"
        [showByIndex]="imageIndex"
        [showTitle]="!popupTitle && showTitle"
        [showBullet]="showBullet"
        [view]="skin"></lib-image-slides>
    </div>
  </div>
</div>
