<div [ngClass]="viewType" class="catalog-tab-list-wrap">
  <div *ngIf="loadService.attributes.deviceType === 'desk'" class="hide show-lg">
    <div class="scroll-container">
      <ng-container [ngTemplateOutlet]="contentOfComponent"></ng-container>
    </div>
  </div>
  <div class="hide-lg">
    <ng-container [ngTemplateOutlet]="contentOfComponent"></ng-container>
  </div>
</div>

<ng-template #contentOfComponent>
  <div class="flex-container-lg catalog-link-item-wrap">
    <a href
       [ngClass]="{
            'main-active':  item.mainActive && viewType === 'main-page-view',
            'side-active':  item.sideActive && viewType === 'side-view'
           }"
       (click)="tabClick($event, item)"
       class="catalog-link-item"
       *ngFor="let item of catalog">
      <div class="catalog-link-info">
        <div>
          <img [src]="item.ico" alt="{{item.title}}">
        </div>
        <div class="catalog-link mt-lg-8">
          {{item.title}}
        </div>
      </div>
    </a>
    <div class="hide-md">
      <div class="catalog-location-wrap">
        <lib-location-select skinTheme="empty"></lib-location-select>
      </div>
    </div>
  </div>
</ng-template>
