<div class="popup-wrapper">
  <div class="popup">
    <a class="close" (click)="onCancel()"></a>
    <!--TODO: XXX pay attention data may be undefined until set or in case of invalid usage-->
    <h4 class="title title-h2 mb-32">{{data && data.title| appTranslate}}</h4>
    <div class="mb-32 mb-md-16 mb-lg-16">
      <span class="title-h5 dark-gray">{{data && data.subtitle| appTranslate}}</span>&nbsp;
    </div>
    <div *ngIf="data && data.prgAddress" class="mb-32 mb-md-32 mb-lg-32">
      <div class="text-plain mb-8">{{'MAIL.PRG_ADDRESS'| libTranslate}}</div>
      <div class="title title-h5 bold">{{data.prgAddress.fullAddress}}</div>
    </div>
    <div *ngIf="data && data.plvAddress" class="mb-32 mb-md-32 mb-lg-32">
      <div class="text-plain mb-8">{{'MAIL.PLV_ADDRESS'| libTranslate}}</div>
      <div class="title title-h5 bold">{{data.plvAddress.fullAddress}}</div>
    </div>
    <div class="button-wrapper">
      <lib-button (click)="updateAddress()" size="md">{{'MAIL.POPUP.UPDATE_BUTTON' | libTranslate}}</lib-button>
    </div>
    <div class="button-wrapper">
      <lib-button color="white" (click)="onCancel()" size="md">{{'MAIL.POPUP.CANCEL_BUTTON' | libTranslate}}</lib-button>
    </div>
  </div>
</div>
