.file-wrapper {
  position: relative;

  .overflow {
    width: 100%;
  }

  .texts {
    min-width: 0;

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  ::ng-deep {
    lib-actions-menu {
      .actions-menu-button, .actions {
        top: 0;
        right: 0;
        position: relative;
        align-items: center;
      }
    }
  }
}
.all-block-click {
  cursor: pointer;
}
