<div class="flex-container-md justify-between align-items-center"
     [ngClass]="{'snippets-container': needContainerAndIcon}">
  <div class="flex-container align-items-center-md">
    <div class="snippet-icon im-icon"
         [style.backgroundImage]="'url('+snippet.orgIcon+')'"
         *ngIf="snippet.type === 'IM'; else notIMSnippets"></div>
    <ng-template #notIMSnippets>
      <div class="snippet-icon" [ngClass]="setSnippetIcon(snippet, feed)"></div>
    </ng-template>

    <!--Сниппет записи на прием или заявления-->
    <div class="snippets-data" *ngIf="isOrderOrEqueueSnippet(snippet)">
      <div class="text-plain mb-4" *ngIf="isSnippetDate(snippet)">
        <ng-container *ngIf="equeueIsRejected(snippet); else activeEqueue">
          <span>Запись на </span>
          <span [innerHTML]="(snippet.localDate || snippet.date) | timeToEvent:snippet.type:feed.feedType:true:true"></span>
        </ng-container>
        <ng-template #activeEqueue>
          <span>Вы записаны на </span>
          <span [innerHTML]="(snippet.localDate || snippet.date) | timeToEvent:snippet.type:feed.feedType:false:false: 'D MMMM в HH:mm'"></span>
        </ng-template>
      </div>
      <div class="small-text gray">
        {{getEqueueInfo(snippet, feed)}}
      </div>
      <div *ngIf="snippet.preliminaryReservationDate" class="small-text gray">
        Будет отменена {{cancelReservationDate(snippet.preliminaryReservationDate)}}, если вы не подадите заявление
      </div>
    </div>

    <!-- Сниппет с приглашением на прием (в фидах не приходит, добавляется на фронте для статуса заявления invite_to_equeue -->
    <div *ngIf="snippet.type === 'INVITE'" class="text-plain">
      {{snippet.comment}}
    </div>

    <!--Сниппет записи kindergarten-->
    <div *ngIf="snippet.type === 'CHILD'" class="small-text mt-8 ml-48">
      {{snippet.firstName}} {{snippet.lastName}}{{snippet.years ? ', ' + snippet.years : ''}}
    </div>

    <!--Сниппет оплаты-->
    <div *ngIf="isPaymentSnippet(snippet, feed)">
      <p class="text-plain mb-4">
        {{snippet.payDate ? ('Оплатите до' + snippet.payDate | date: 'dd MMMM') : 'Оплатите в ближайшее время'}}
      </p>
      <p *ngIf="snippet.description" class="small-text gray" [innerHTML]="snippet.description | removeTags | limitString: 150"></p>
    </div>

    <!--Сниппет Использовать заявление как черновик -->
    <!--div class="small-text gray" *ngIf="snippet.type === 'DRAFT'">
      Вы можете использовать заполненное заявление в качестве черновика
    </div-->

    <!--Сниппет интеграционного модуля -->
    <div *ngIf="snippet.type === 'IM'">
      <div *ngIf="isSnippetWithExpireDate(snippet, feed)" class="text-plain">
        Рассмотреть до {{feed.data.imExpireDate | timeToEvent:snippet.type:'IMExpireDate':true:false}}
      </div>
      <div class="text-plain">По запросу {{snippet.orgName}}</div>
    </div>
  </div>

  <div *ngIf="getSnippetLinkText(snippet, feed) as linkText" class="snippet-button-container text-right-md mt-24 mt-md-0 ml-md-16">
    <div *ngIf="isPaymentSnippet(snippet, feed)" class="title-h6 flex-container justify-end-md mb-4">
      <span class="flex-order-last-md text-nowrap mr-8 mr-md-0 ml-md-8">{{snippet.sum | toMoney}} ₽</span>
      <span *ngIf="snippet.originalAmount" class="new-light-gray text-line-through text-nowrap">{{snippet.originalAmount | toMoney}} ₽</span>
    </div>
    <a class="link-plain" (click)="goToDetails(snippet, feed, $event)">{{linkText}}</a>
  </div>
</div>
