<div class="disclaimers" *ngIf="disclaimerPack.length > 0">
  <ng-container *ngFor="let disclaimerGroup of disclaimerPack; let lastGroup = last">
    <ng-container *ngFor="let disclaimer of disclaimerGroup; let last = last">
      <div *ngIf="showDisclaimer(disclaimer)"
           class="disclaimer {{disclaimer.level}} {{disclaimer.mnemonic}}"
           id="disclaimer_{{disclaimer.id}}"
           [hidden]="disclaimer.isHidden"
           [ngClass]="{'mb-4': !(lastGroup && last), 'main-page': isMainPage}">
        <div class="container">
          <div class="level-icon-{{disclaimer.level}}">
            <div class="close" (click)="closeDisclaimer(disclaimer.id, disclaimer.isPriority);"></div>
            <div class="title-h4 title">{{'DISCLAIMER.TITLE' | libTranslate}}</div>
            <div class="description">
              <div class="text-plain mt-16 mt-md-4">{{disclaimer.message}}</div>
              <div *ngIf="disclaimer.noticeText && !disclaimer.loading" class="notice-block {{disclaimer.level}} mt-24">
                <div class="notice text-plain">{{disclaimer.noticeText | libTranslate:{email: disclaimer.noticeEmail} }}</div>
              </div>
              <div *ngIf="disclaimer.loading" class="mt-24">
                <lib-throbber size="throbber-small" [inlineHeader]="'DISCLAIMER.LOADER' | libTranslate"></lib-throbber>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
